

<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
    <h1>{{ nombre | titlecase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
</div>

<button pButton class="p-button-raised p-button-rounded p-button-help" 
        (click)="mostrarNombre()"
        icon="pi pi-check"
        label="Cambiar Nombre"></button>

        <p-card  header="{{ nombre | titlecase }}">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam officia officiis facilis consequuntur quo exercitationem quibusdam sequi, sit hic nobis incidunt nam aspernatur magni harum modi facere delectus aut similique?</p>
        </p-card> -->