<div class="text-layout">
    <h1>Pipes Personalizados</h1>
    <p>Pipes creados por mi {{ 'siempre' | mayusculas : enMayusculas }}</p>
</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
        
    </div>
    
    <div class="p-toolbar-group-right">

        <button pButton
                label="toggle mayusculas"
                (click)='cambiar()'
                class="mr-1 p-button-warning">
        </button>
        <button pButton
                icon="pi pi-sort"
                label="Por nombre"
                (click)="cambiarPor('nombre')"
                class="mr-1 p-button-info">
        </button>

        <button pButton
                icon="pi pi-sort"
                label="Vuela"
                (click)="cambiarPor('vuela')"
                class="mr-1 p-button-success">
        </button>

        <button pButton
                icon="pi pi-sort"
                label="Color"
                (click)="cambiarPor('color')"
                class="mr-1 p-button-help">
        </button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-3">
        <p-table [value]="heroes | ordenar : ordenarPor" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela | vuela}}</td>
                    <td>{{heroes.color | color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="grid">
    <div class="col mt-3">
        <p-table [value]="heroes | slice:0" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela | vuela}}</td>
                    <td>{{heroes.color | color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>